*{
  margin:0;
  padding: 0;
}
.main{
  background-color: rgba(94, 97, 99, 0.849);
  width: 100%;
  height: auto;
}

header{
  background:linear-gradient(rgba(0, 0, 0, 0.267),rgba(128, 124, 124, 0.425));
  margin: auto;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  border-top-right-radius:10px ;
  border-bottom-right-radius:10px ;
  height: 70px;
  width: auto;
  background-color: rgba(245, 245, 220, 0.137);

}
hr.borderline{
	border: 1px solid rgba(117, 114, 114, 0.473);
  padding-top: 10px;
  width: 100%;
  }
.c1{
  padding-top: 10px;
  width: auto;
  display: none;
  background:linear-gradient(rgba(255, 255, 255, 0.267),rgba(0, 0, 0, 0.425)),url(bg_!.png);
  height: auto;
  background-size:cover;
  background-position: 100%;
}
.c2{
  padding-top: 10px;
  width: auto;
  display: none;
  background:linear-gradient(rgba(0, 0, 0, 0.911),rgba(0, 0, 0, 0.048)),url(bg_2.jpg);
  height: auto;
  background-size:cover;
  background-position: 100%;
}
.c3{
  padding-top: 10px;
  width: auto;
  display: none;
  background:linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.479)),url(bg3.jpg);
  height: auto;
  background-size:cover;
  background-position: 100%;
}
.c4{
  padding-top: 10px;
  width: auto;
  display: none;
  background:linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.247)),url(bg4.jpg);
  height: auto;
  background-size:cover;
  background-position: 100%;
}

.nav{
  width: 100%;
  margin: auto;
  overflow: auto;
  justify-content: space-around;
  display: flex;  
}
.logo img{
  width: 70px;
}
.ytlogo img{
  border-radius: 5px;
  width: 75px;
}
.logo :hover{
  opacity: 0.5;
  padding: 1px;
}
.ytlogo{
  margin-right:10px;
  margin-top: 15px;
}
.ytlogo :hover{
  opacity: 0.5;
  padding: 1px;
}
.nav a{
  color: white;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
  font-size: 21px;
  padding:15px 30px;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: black;
}
.icon{
  display: none;
}
.nav :hover{
  transition: 300ms;
  padding: 20px 40px;
  background-color: rgba(231, 231, 229, 0.753);
  border-radius: 5px;
  color: black;

}
.h1 {
  text-align: center;
  transition: .5s;
  margin-left: auto;
  margin-right: auto;
  width:20%;
  padding: 10px 20px;
  border-radius:5%;
  border-left: 5px solid rgb(241, 242, 243);
  border-right: 5px solid rgb(241, 242, 243);
  background-color:rgba(245, 245, 220, 0.137);
}
.h1 h1{
  transition: 0.5s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 0.8px;
  -webkit-text-stroke-color: black;
}

.motive{
  border-left: 5px double white;
  border-right: 5px double white;
  padding: 5%;
  border-radius: 5px;
  background-color: rgba(245, 245, 220, 0.137);
  width: auto;
  margin-top:10px ;
  margin-left: 10px;
  margin-right: 10px;
}
.motive p{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(250, 250, 250);
  font-weight: 600;
  text-align: center;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
}
.videos{
  align-items: center;
}
.container {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


@media screen and (max-width:944px)  {
  .nav {
    float: none;
    display: none;
    text-align: center;
    width: 100%;
    border-radius: 1px;
  }
  .main{
    background-position: auto;
    background-size: cover;
  }
  .nav a{
    display: block;
    
  }
  .h1 h1{
    font-size: medium;
    -webkit-text-stroke: 0.1px black;
  }
  .h1{
    width:auto;
  }
  .c1{
    width: auto;
    display:none;
  }
  .motive{
    margin-left:auto;
    margin-right:auto;
  }
  .motive p{
    font-size: small;
  }
  .nav :hover{
    background-color: rgba(216, 2, 2, 0);
    border-bottom: 4px solid rgb(151, 148, 148);
    padding-left:5px;
    transition: 0.5s;
  }
  header{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    border-radius:5px;
    margin: 0%;
    text-align: center;
  }
  .logo img{
    width: 70px;  
    margin:2%;
  }

  .ytlogo{
    display: none;
  }
  .container {
    display:block;
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 4%;
  }
  }
